<a href="https://colab.research.google.com/github/ChristianMonteUGB/Progra-III-2023/blob/main/ejemplo_basico_de_python_christian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Christian Alexander Montenegro Rodriguez

In [ ]:
nombre = input("Como te llamas: ")
print("Hola "+nombre, "Tu letra inicial es: ", nombre[0], "Tu nombre tiene: ", nombre.__len__(), " caracteres" )

Como te llamas: christian
Hola christian Tu letra inicial es:  c Tu nombre tiene:  9  caracteres

In [ ]:
name="christian montenegro"
print("Hola " + name)

Hola christian montenegro

In [ ]:
num1 = 5
num2 = 7.5
resp = num1 + num2
print("la suma de ", num1, " + ", num2, " + ", resp)

la suma de  5  +  7.5  +  12.5

In [ ]:
nombre = input("Dime tu nombre: ")
edad = input("Tu edad ")
saludo = "Hola que tal "+ nombre + ", tu edad: "+ edad
print(saludo)

Dime tu nombre: christian
Tu edad 22
Hola que tal christian, tu edad: 22

In [ ]:
num1 = float(input("primer numero: "))
num2 = float(input("segundo numero: "))
resp = num1 + num2
print("la suma es, ", resp)

primer numero: 2
segundo numero: 2
la suma es,  4.0

**Funciones de usuario**

-convertir grados celsius a farenheit

In [ ]:
def convertir(c):
  return c*9/5 + 32

In [ ]:
c = float(input("celsius: "))
print("f: ", convertir(c))

celsius: 42
f:  107.6

farenheit a celsius

In [ ]:
def convertir(f):
  return (f-32) * 5/9

In [ ]:
f = float(input("farenheit: "))
print("c: ", convertir(f))

farenheit: 107.6
c:  42.0

celsius a kelvin

In [ ]:
def convertir(c):
  return c + 273.15

In [ ]:
c = float(input("celsius: "))
print("k: ", convertir(c))

celsius: 20
k:  293.15

farenheit a kelvin

In [ ]:
def convertir(f):
  return (f - 32) * 5/9 + 273.15

In [ ]:
f = float(input("farenheit: "))
print("k: ", convertir(f))

farenheit: 13
k:  262.59444444444443

calcular el sueldo mensual de un empleado

In [ ]:
def sueldo(numHrs, valorXhr):
  sueldo = numHrs*valorXhr*30
  if (numHrs>8):
    sueldo += (numHrs-8)*valorXhr*2*30
    #isss + afp = 3 + 6.25 = 9.25 = 100 - 9.25 = 90.75/100 = 0.9075
  #sueldo = sueldo*0.9075
  return sueldo

In [ ]:
tabla_isr = [
    [0.01, 472, 0, 0],
    [475.01, 895.24, 0.1, 17.67],
    [895.25, 2038.1, 0.2, 60.00],
    [2038.11, 999999, 0.3, 288.57]
]

In [ ]:
def calcularIsr(sueldo, sueldoNeto):
  impSr = 0
  for tramo in tabla_isr:
    if sueldo>tramo[0] and sueldo<=tramo[1]:
      impSr (sueldoNeto-tramo[0])*tramo[2] + tramo[3]
    return impSr

In [ ]:
valorXhr = 4
#isss = 3%
#afp = 6.25%
numHrs = float(input("Horas trabajadas: "))
s= sueldo(numHrs, valorXhr)
isr = calcularIsr(s, s*0.9075)
print("sueldo: ", s, "ISR: ", isr, s*0.9075-isr )

Horas trabajadas: 8
sueldo:  960.0 ISR:  0 871.1999999999999

**Listas y farenheit a celsius**

In [ ]:
data = [2,5,6,8,9]

In [ ]:
resp= map(lambda n:n*9/5 + 32, data)
print(list(resp))

[35.6, 41.0, 42.8, 46.4, 48.2]

filter y lambda

In [ ]:
data = [2,5,6,8,9]

In [ ]:
resp= filter(lambda n:n %2 == 0, data)
print(list(resp))

[2, 6, 8]

In [ ]:
data = [2,5,6,8,9]

In [ ]:
inp= filter(lambda n:n %2 == 1, data)
print(list(inp))

[5, 9]

CICLOS
-FOR

In [ ]:
for item in data:
  print(item)

2
5
6
8
9

CICLO

-WHILE

In [ ]:
i=0
n= len(data)
while i<n:
  print(data[i])
  i+=1

2
5
6
8
9

TABAL DE MULTIPLICAR

In [ ]:
for f in range (1,11):
  print(f'7 x {f} = {7 * f}')

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Tabla de mutiplivar V2

In [ ]:
n = int(input("N Tabla: "))

for i in range(1,11):
  print(n, "X", i, "=", n*i)

N Tabla: 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

Ejercicios practicos/Conversores de monedas

In [ ]:
monedas_con_equivalencias = {
    "usd": 1,
    "mxn": 17.01,
    "eur": 0.91,
    "btc": 0.000088,
    "Quetzal": 7.89,
    "ColonCosta": 536.55,
    "Yen": 144.91,
    "Arg": 286.87,
    "Sol": 3.66,
    "Rublo": 100

}
print("Monedas disponibles:")
for moneda in monedas_con_equivalencias:
    print(moneda)

nombre_moneda_origen = ""
nombre_moneda_destino = ""
while nombre_moneda_origen not in monedas_con_equivalencias:
    nombre_moneda_origen = input("Moneda origen: ")

while nombre_moneda_destino not in monedas_con_equivalencias:
    nombre_moneda_destino = input("Moneda destino: ")


cantidad = float(input(f"Ingresa la cantidad de {nombre_moneda_origen}: "))
equivalencia_origen = monedas_con_equivalencias[nombre_moneda_origen]
equivalencia_destino = monedas_con_equivalencias[nombre_moneda_destino]
equivalencia = (equivalencia_destino/equivalencia_origen)*cantidad
print(f"{cantidad:.2f} {nombre_moneda_origen} equivale a {equivalencia:.2f} {nombre_moneda_destino}.")

Monedas disponibles:
usd
mxn
eur
btc
Quetzal
ColonCosta
Yen
Arg
Sol
Rublo
Moneda origen: mxn
Moneda destino: arg
Moneda destino: Arg
Ingresa la cantidad de mxn: 300
300.00 mxn equivale a 5059.44 Arg.

Ejercios practicos/Longitud

In [ ]:
Longitudes = {
    "Centimetros": 100,
    "Metros": 1,
    "Pulgadas": 39.3701,
    "Yardas": 1.09361,
    "Pies": 3.28084,
    "Milimetros": 1000,
    "Kilometros": 0.001,
    "Decimetros": 10
}

In [ ]:
print("Longitudes disponibles:")
for longitudes in Longitudes:
    print(longitudes)

nombre_de_longitud = ""
nombre_longitud_a_convertir = ""
while nombre_de_longitud not in Longitudes:
    nombre_de_longitud = input("Longitud 1: ")

while nombre_longitud_a_convertir not in Longitudes:
    nombre_longitud_a_convertir = input("Longitud 2: ")


cantidad = float(input(f"Ingresa la cantidad de {nombre_de_longitud}: "))
equivalencia_origen = Longitudes[nombre_de_longitud]
equivalencia_destino = Longitudes[nombre_longitud_a_convertir]
equivalencia = (equivalencia_destino/equivalencia_origen)*cantidad
print(f"{cantidad:.2f} {nombre_de_longitud} equivale a {equivalencia:.2f} {nombre_longitud_a_convertir}.")

Longitudes disponibles:
Centimetros
Metros
Pulgadas
Yardas
Pies
Milimetros
Kilometros
Decimetros
Longitud 1: Metros
Longitud 2: Centimetros
Ingresa la cantidad de Metros: 1
1.00 Metros equivale a 100.00 Centimetros.

Ejercicios practicos/Masas

In [ ]:
Masas = {
    "Gramo": 1,
    "Decigramo": 0.1,
    "Centigramo": 0.01,
    "Miligramo": 0.001,
    "Decagramo": 10,
    "Hectogramo": 100,
    "Kilogramo": 1000
}

In [ ]:
print("Masas Disponibles:")
for masas in Masas:
    print(masas)

nombre_de_masa = ""
nombre_masa_a_convertir = ""
while nombre_de_masa not in Masas:
    nombre_de_masa = input("Masa 1: ")

while nombre_masa_a_convertir not in Masas:
    nombre_masa_a_convertir = input("Masa 2: ")


cantidad = float(input(f"Ingresa la cantidad de {nombre_de_masa}: "))
equivalencia_origen = Masas[nombre_de_masa]
equivalencia_destino = Masas[nombre_masa_a_convertir]
equivalencia = (equivalencia_destino/equivalencia_origen)*cantidad
print(f"{cantidad:.2f} {nombre_de_masa} equivale a {equivalencia:.2f} {nombre_masa_a_convertir}.")

Masas Disponibles:
Gramo
Decigramo
Centigramo
Miligramo
Decagramo
Hectogramo
Kilogramo
Masa 1: Gramo
Masa 2: Kilogramo
Ingresa la cantidad de Gramo: 1
1.00 Gramo equivale a 1000.00 Kilogramo.

Ejercicios practicos/Almacenamiento

In [ ]:
def convertir(A):
  return A / 1e+9

In [ ]:
A = float(input("Bytes: "))
print("k: ", convertir(A))

Bytes: 200000
k:  0.0002

--------------------------------------

In [ ]:
Almacenamiento = {
    "B": 1,
    "Kb": 0.001,
    "Mb": 1e-6,
    "Gb": 1e-9,
    "Tb": 1e-12,
    "Pb": 1e-15,
    "Eb": 1e+18,
}

In [ ]:
print("Almacenamiento Disponibles:")
for almacenamiento in Almacenamiento:
    print(almacenamiento)

nombre_de_alma = ""
nombre_alma_a_convertir = ""
while nombre_de_alma not in Almacenamiento:
    nombre_de_alma = input("almacenamiento 1: ")

while nombre_alma_a_convertir not in Almacenamiento:
    nombre_alma_a_convertir = input("almacenamiento 2: ")


cantidad = float(input(f"Ingresa la cantidad de {nombre_de_alma}: "))
equivalencia_origen = Almacenamiento[nombre_de_alma]
equivalencia_destino = Almacenamiento[nombre_alma_a_convertir]
equivalencia = (equivalencia_destino/equivalencia_origen)*cantidad
print(f"{cantidad:.2f} {nombre_de_alma} equivale a {equivalencia:.2f} {nombre_alma_a_convertir}.")

Almacenamiento Disponibles:
B
Kb
Mb
Gb
Tb
Pb
Eb
almacenamiento 1: Tb
almacenamiento 2: Pb
Ingresa la cantidad de Tb: 10000
10000.00 Tb equivale a 10.00 Pb.

Ejercicios practicos/Tiempo

In [ ]:
Tiempo = {
    "min": 60,
    "hora": 1,
    "Dia": 1440,
    "semana": 10080,
    "mes 30": 43200,
    "mes 31": 44640,
}

In [ ]:
print("Tiempo Disponible:")
for tiempo in Tiempo:
    print(tiempo)

nombre_de_tiempo = ""
nombre_tiempo_a_convertir = ""
while nombre_de_tiempo not in Tiempo:
    nombre_de_tiempo = input("tiempo 1: ")

while nombre_tiempo_a_convertir not in Tiempo:
    nombre_tiempo_a_convertir = input("tiempo 2: ")


cantidad = float(input(f"Ingresa la cantidad de {nombre_de_tiempo}: "))
equivalencia_origen = Tiempo[nombre_de_tiempo]
equivalencia_destino = Tiempo[nombre_tiempo_a_convertir]
equivalencia = (equivalencia_destino/equivalencia_origen)*cantidad
print(f"{cantidad:.2f} {nombre_de_tiempo} equivale a {equivalencia:.2f} {nombre_tiempo_a_convertir}.")

Tiempo Disponible:
min
hora
Dia
semana
mes 30
mes 31
tiempo 1: hora
tiempo 2: min
Ingresa la cantidad de hora: 30
30.00 hora equivale a 1800.00 min.

Ejercicios practicos/Volumen

In [ ]:
Volumen = {
    "litro": 1,
    "ml": 1000,
    "galon": 0.219969,
    "taza": 3.51951,
    "pinta": 1.75975,
    "onza": 35.1951,
    "cucharada": 56.3121,
    "cucharadita": 168.936,
    "PieCub": 0.0353147,
    "pulgadaCub": 61.0237,
}

In [ ]:
print("Volumenes Disponible:")
for volumen in Volumen:
    print(volumen)

nombre_de_volumen = ""
nombre_volumen_a_convertir = ""
while nombre_de_volumen not in Volumen:
    nombre_de_volumen = input("volumen 1: ")

while nombre_volumen_a_convertir not in Volumen:
    nombre_volumen_a_convertir = input("volumen 2: ")


cantidad = float(input(f"Ingresa la cantidad de {nombre_de_volumen}: "))
equivalencia_origen = Volumen[nombre_de_volumen]
equivalencia_destino = Volumen[nombre_volumen_a_convertir]
equivalencia = (equivalencia_destino/equivalencia_origen)*cantidad
print(f"{cantidad:.2f} {nombre_de_volumen} equivale a {equivalencia:.2f} {nombre_volumen_a_convertir}.")

Volumenes Disponible:
litro
ml
galon
taza
pinta
onza
cucharada
cucharadita
PieCub
pulgadaCub
volumen 1: galon
volumen 2: taza
Ingresa la cantidad de galon: 3
3.00 galon equivale a 48.00 taza.

Ejercicios de practica/Area

In [ ]:
Area = {
    "m2": 1,
    "km2": 1e-6,
    "milla2": 3.861e-7,
    "yarda2": 1.19599,
    "pie2": 10.7639,
    "pulg2": 1550,
    "hec": 1e-4,
    "acre": 0.000247105,
}

In [ ]:
print("Areas Disponible:")
for area in Area:
    print(area)

nombre_de_area = ""
nombre_area_a_convertir = ""
while nombre_de_area not in Area:
    nombre_de_area = input("area 1: ")

while nombre_area_a_convertir not in Area:
    nombre_area_a_convertir = input("area 2: ")


cantidad = float(input(f"Ingresa la cantidad de {nombre_de_area}: "))
equivalencia_origen = Area[nombre_de_area]
equivalencia_destino = Area[nombre_area_a_convertir]
equivalencia = (equivalencia_destino/equivalencia_origen)*cantidad
print(f"{cantidad:.2f} {nombre_de_area} equivale a {equivalencia:.2f} {nombre_area_a_convertir}.")

Areas Disponible:
m2
km2
milla2
yarda2
pie2
pulg2
hec
acre
area 1: m2
area 2: yarda2
Ingresa la cantidad de m2: 10
10.00 m2 equivale a 11.96 yarda2.

Escribir un programa que pida la nota de un examen(0-10), e imprima por pantalla la calificaion en formato: "suspenso" si la nota es menor a 5, "aprobado" si es entre 5 inclusive, 7 sin incluir, "notable" si esta entre 7 inclusive 9 y sin incluir, "Sobresaliente" si estan entre 9 inclusive y 10 sin incluir, y "Honorable" si es 10

In [ ]:
nota = 0

n=float(input("Ingrese nota a evaluar "))
if (nota < 0 or nota>10):
  print("Nota invalida")
elif(nota<5):
  print("El estudiante esta aprobado")
elif(nota<7):
  print("El estudiante esta aprobado")
elif(nota<9):
  print("El estudiante es notable")
else:
  print("Es un estudiante honorable")

El estudiante esta suspendido

Ejercicios de tarea

Escriba un programa que determine si una palabra introducida por el usuario es palindrome o no

In [ ]:
palabra = input("Introduce una palabra: ")
palabra = palabra.lower()

palabra_reversa = palabra[::-1]

if palabra == palabra_reversa:
    print(f"'{palabra}' es un palíndromo.")
else:
    print(f"'{palabra}' no es un palíndromo.")

Escriba un programa que convierta un numero por el usuario a su equivalente en numeros romanos

In [ ]:
def romano(n):
    mapa = {
        1: "I",
        4: "IV",
        5: "V",
        9: "IX",
        10: "X",
        40: "XL",
        50: "L",
        90: "XC",
        100: "C",
        400: "CD",
        500: "D",
        900: "CM",
        1000: "M"
    }

    resultado = []

    claves = sorted(mapa.keys(), reverse=True)

    for clave in claves:
        while n >= clave:
            resultado.append(mapa[clave])
            n -= clave

    return "".join(resultado)

try:
    numero = int(input("Introduce un número para convertirlo a números romanos: "))
    if numero <= 0 or numero > 5000:
        print("El número debe estar en el rango de 1 a 5000.")
    else:
        romano = romano(numero)
        print(f"El número {numero} en números romanos es {romano}")
except ValueError:
    print("Por favor, introduce un número válido.")

Escriba un programa que encuentre la media aritmetica de una serie de numeros introducidos por el usuario.

In [ ]:
numeros = int(input("¿Cuántos números deseas ingresar?: "))
suma = 0

for i in range(numeros):
  numero = float(input(f"Ingrese el número {i+1}: "))
  suma += numero

media = suma / numeros

print(f"La media aritmética de los {numeros} números es: {media}")

¿Cuántos números deseas ingresar?: 4
Ingrese el número 1: 2
Ingrese el número 2: 7
Ingrese el número 3: 13
Ingrese el número 4: 0
La media aritmética de los 4 números es: 5.5

PARCIAL I
ejercicio: 2.	Desarrolle el conversor de Área (Superficie) haciendo uso de los diccionarios y las funciones de usuario en Python que contenga las siguientes opciones: (20%)

a.	Pie Cuadrado
b.	Vara Cuadrada
c.	Yarda Cuadrada
d.	Metro Cuadrado
e.	Tareas
f.	Manzana
g.	Hectárea

In [ ]:
Areas = {
    "metro2": 1,
    "pie2": 10.7639,
    "vara2": 0.698896,
    "yarda2": 1.19599,
    "tareas": 0.00159033,
    "manzana": 6988.96,
    "hectarea": 1e-4,
}

In [ ]:
print("Elija un area:")
for areas in Areas:
    print(areas)

nombre_de_area = ""
nombre_area_a_convertir = ""
while nombre_de_area not in Areas:
    nombre_de_area = input("area 1: ")

while nombre_area_a_convertir not in Areas:
    nombre_area_a_convertir = input("area 2: ")

cantidad = float(input(f"Ingresa la cantidad de {nombre_de_area}: "))
equivalencia_origen = Areas[nombre_de_area]
equivalencia_destino = Areas[nombre_area_a_convertir]
equivalencia = (equivalencia_destino/equivalencia_origen)*cantidad
print(f"{cantidad:.2f} {nombre_de_area} equivale a {equivalencia:.2f} {nombre_area_a_convertir}.")

Elija un area:
metro2
pie2
vara2
yarda2
tareas
manzana
hectarea
Ingresa la cantidad de metro2: 3000
3000.00 metro2 equivale a 0.30 hectarea.